@model LyeDecathlon.Models.Athlete

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Athlete</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Meter100)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Meter100)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Meter1500)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Meter1500)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Meter400)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Meter400)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Hurdles110)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hurdles110)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LongJump)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LongJump)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShotPut)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShotPut)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HighJump)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HighJump)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DiscusThrow)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DiscusThrow)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PoleVault)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PoleVault)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JavelinThrow)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JavelinThrow)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AthleteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
