@{
	ViewBag.Title = "Index";
}

<h2>Velg øvelse</h2>

<ul>
	<li>@Html.ActionLink("100 meter", "Event", new { eventId = 1 })</li>
	<li>@Html.ActionLink("1500 meter", "Event", new { eventId = 2 })</li>

	<li>@Html.ActionLink("400 meter", "Event", new { eventId = 3 })</li>

	<li>@Html.ActionLink("110 meter hekk", "Event", new { eventId = 4 })</li>
	<li>@Html.ActionLink("Lengde hopp", "Event", new { eventId = 5 })</li>
	<li>@Html.ActionLink("Kulestøt", "Event", new { eventId = 6 })</li>
	<li>@Html.ActionLink("høyde", "Event", new { eventId = 7 })</li>
	<li>@Html.ActionLink("diskos", "Event", new { eventId = 8 })</li>
	<li>@Html.ActionLink("Stavsprang", "Event", new { eventId = 9 })</li>
	<li>@Html.ActionLink("Spyd", "Event", new { eventId = 10 })</li>
</ul>
